.question-container {
  margin-left: 2.5%;
  margin-right: 2.5%;
  .progress-box {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .progress-data {
      display: flex;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      color: red;
    }
  }

  .questions {
    margin-left: 2%;
    margin-right: 2%;
  }
  .test-buttons-box {
    display: flex;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;

    .test-button {
      margin-right: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .end-test-box {
    display: flex;
    justify-content: center;
    // margin-top: 3rem;

    .end-test-btn {
      font-size: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
}
