// .test-link {
//     display: flex;
//     justify-content: space-around;
//     margin-left: 2rem;
//     margin-right: 2rem;
//     margin-bottom: 2rem;
//   }
//   .table-header {
//     display: flex;
//     justify-content: flex-start;
//     margin-bottom: 0.5rem;
//     .question-upload-buttons {
//       width: 100%;
//       display: flex;
//       justify-content: flex-start;
//       margin-left: 5%;
//       .button {
//         margin-right: 2rem;
//         height: 2rem !important;
//         margin-top: 1rem;
//       }
//     }
//   }
.subjectlist-box {
  margin-left: 5%;
  margin-right: 5%;

  // .table-header {
  //   display: flex;
  //   justify-content: flex-start;
  //   margin-bottom: 0.5rem;
  //   .question-upload-buttons {
  //     width: 100%;
  //     display: flex;
  //     justify-content: flex-start;
  //     margin-left: 5%;
  //     .button {
  //       margin-right: 2rem;
  //       height: 2rem !important;
  //       margin-top: 1rem;
  //     }
  //   }
  // }
  .search-box {
    display: flex;
    justify-content: flex-end;
    // margin-bottom: 0.5rem;

    .search-input {
      height: 2rem;
      min-width: 3rem;
      // margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.table-title {
  margin-left: 1rem !important;
}
.table-container {
  max-height: 19rem;
}
