.error-box {
  text-transform: capitalize;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.divider {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.MuiDivider-root {
  border-color: #000 !important;
}
