.quiztable-box {
    margin-left: 5%;
   margin-right: 5%;

   .search-box {
    display: flex;
    justify-content: flex-end;

   .search-input {
    
    height: 2rem;
    min-width: 3rem;
     margin-bottom: 0.5rem;
    // border: 1px solid #ccc;
    // outline: none;
    // background-size: 22px;
    // background-position: 13px;
    // border-radius: 10px;
    // width: 45px;
    // height: 40px;
    // padding: 25px;
    // transition: all 0.5s
  }
  // .search-input:hover {
  //   width: 300px;
  //   padding-left: 50px;
  // }
}
}

.table-title {
    margin-left: 1rem !important;
  }
  .table-container {
    max-height: 19rem;
  }