.quiztable-box {
    margin-left: 5%;
   margin-right: 5%;

   .search-box {
    display: flex;
    justify-content: flex-end;

   .search-input {
    
    height: 2rem;
    min-width: 3rem;
    margin-bottom: 0.5rem;
  }
}
}

.table-title {
    margin-left: 1rem !important;
  }
  .table-container {
    max-height: 19rem;
  }