.no-quizset-box {
  text-align: center;
  margin: 2rem;
}

.subjectlist-box {
  margin-left: 5%;
  margin-right: 5%;

  .table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
    .question-upload-buttons {
           width: 100%;
          display: flex-start;
         justify-content: flex-start;
          margin-left: 5%;
      .button {
        margin-right: 2rem;
        height: 2rem !important;
         width: fit-content;
        margin-top: 1rem;
        //  margin-left: 5%;
        // .search {
        //   width: 100%;
        //   display: flex;
        //   justify-content: flex-start;
        // }
        
      }
    }
    .search-box {
      display: flex;
      justify-content:flex-end;
      //  margin-left: 5%;
     
    .search-input {
      height: 2rem;
      min-width: 3rem;
      margin-top: -2rem;
      // margin-bottom: 1rem;
      
    }
    }
   
  }

  
  

  .table-title {
    margin-left: 1rem !important;
  }
  .table-container {
    max-height: 19rem;
  }
}

.Dialog-Container {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;

  .items {
    margin-top: 1rem;
  }
  .file {
    margin-top: 1.5rem;
  }
  .buttons-box {
    display: flex;

    .button {
      margin: 1rem;
    }
  }

  .error {
    color: red;
    font-size: 0.8rem;
  }
}

// .table-loader {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 2rem;
//   margin-bottom: 2rem;
// }

// .modal-loader {
//   width: 100%;
//   height: 80%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.new-box{
  margin-left: 5%;
  margin-right: 5%;
  
  .box-new{
    display: flex;
  justify-content: flex-start;
  margin-left: 6%;
  margin-bottom: 2rem;
  .button-name-new {
    height: 4rem !important;
    // width: fit-content;
    // margin-left: 5%;
   
  }
  }

.box {
  display: flex;
  justify-content: flex-start;
  // margin-left: 8%;

.button-name {
  height: 4rem !important;
  // width: fit-content;
  margin-left: 5%;
 
}
}
}