.main-layout-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .info-box {
    display: flex;
    flex-direction: column;
    margin: 3rem;

    .info-details {
      margin-left: 6rem;
      text-transform: capitalize;
    }
  }

  .start-test-box {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

    .start-test-btn {
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 1.5rem;
    }
  }
}

// .error-box {
//   //width: 100%;
//   border: 2px solid red;
//   padding-top: 1rem;
//   padding-bottom: 1rem;
//   text-transform: capitalize;
//   text-align: center;
//   font-weight: 300;
// }

// .main-layout-wrap .quiz-header {
//   display: flex;
//   background-color: red;
// }

// .main-layout-wrap .quiz-start-btn-wrap {
//   display: flex;
//   height: 100%;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .main-layout-wrap .quiz-start-btn-wrap .quiz-info-wrapper {
//   display: flex;
//   padding-top: 5rem;
// }

// .main-layout-wrap .quiz-start-btn-wrap .quiz-information {
//   width: 50%;
// }

// .main-layout-wrap .quiz-start-btn {
//   width: 50%;
//   margin: 5rem;
// }

// .main-layout-wrap .ooter-start-test-page {
//   display: flex;
//   height: 10%;
// }

// .manage-buttons {
//   margin: 20px;
//   width: 40%;
// }
