// .modal-content-container-subparts {
//   height: 86%;
//   padding-left: 1rem;
//   padding-right: 1rem;
// }

// .header-content {
//   display: flex;
//   justify-content: center;
//   gap: 3%;
//   padding: 0.3rem;

.headings {
  display: flex;
  text-transform: uppercase;

  .topic {
    font-weight: 530;
    padding-right: 0.2rem;
  }
}
//}

// .modal-body {
//   height: 50%;
//   overflow-y: scroll;
// }

.question-main {
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  align-items: center;
  margin-bottom: 0.5rem;

  .icons-box {
    width: 10%;
    display: flex;
    gap: 15%;
    justify-content: flex-start;
  }
}

.info-div {
  margin: top 1rem;
  margin-bottom: 1rem;
  .question-details {
    display: flex;
  }
  .info {
    font-weight: 520;
    font-size: 1rem;
    margin-right: 0.3rem;
  }
}

// .modal-buttons-container {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   gap: 5%;
//   align-items: center;
//   //border: 2px solid red;

.save-button {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 10%;
}
//}
