.modal-container {
  min-height: 70vh;
  padding-left: 1rem;
  padding-right: 1rem;
  .modal-headings-container {
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 0.5rem;

    .headings {
      display: flex;
      text-transform: uppercase;
      .topic {
        font-weight: 550;
        padding-right: 0.2rem;
      }
    }
  }

  .question-main {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    margin-bottom: 1rem;

    .icons-box {
      width: 10%;
      display: flex;
      gap: 15%;
      justify-content: flex-start;
    }
  }
}
.progress-container {
  margin-bottom: 1rem;
}

.modal-close-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-div {
  margin: top 1rem;
  margin-bottom: 1rem;
  .info {
    font-weight: 520;
    font-size: 1rem;
  }
}

.modal-buttons-container {
  display: flex;
  padding-left: 1rem;
  align-items: flex-start;
  gap: 40%;
  align-items: center;

  .save-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
