.test-link {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.icon {
  margin-left: -0.5rem;
}

.subjectlist-box {
  margin-left: 5%;
  margin-right: 5%;
}
// .heading {
//   margin-top: 10rem;
// }

// .button {
//   margin-top: 2rem;
//   margin-left: 50rem;
//   padding-left: 2rem;
// }
