.test-link {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
  // margin-top: -1.5rem;
  // margin-bottom: -1rem;
}

.box-link {
  display: flex;
  // justify-content: flex-start;
  // margin-left: 2rem;
  // margin-right: 2rem;
  //  margin-bottom: -1.5rem;
  //  margin-top: -1rem;
}

.search-input {
  margin-left: 60rem;
}

.table-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.icon {
  margin-left: -0.5rem;
}

// .select-box {
//   margin-bottom: 0.5rem;
// }
.subjectlist-box {
  margin-left: 5%;
  margin-right: 5%;
  .select-box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    // .table-header {
    //   width: 100%;
    //   display: flex;
    //   justify-content: flex-start;
    //   margin-left: 5%;
    // }
  }
}

// .button-create {
//   // max-width: 100px;
//   // max-height: 100px;
//   // min-width: 80px;
//   // min-height: 50px;
//   width: 160px;
//   // height: 40px;
  
// }

.copy {
  display: flex;
  margin-left: 7rem !important;
}



// .test-name {
//   margin-left: 1rem !important;
// }

.table-title {
  margin-left: 1rem !important;
}
.table-container {
  max-height: 19rem;
}
.create-btn-box {
  display: flex;
  justify-content: center;
  margin: 1rem;

  .button-create {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
