.quiz-topic-container {
  margin-bottom: 3rem;
  .quiz-topic {
    border: 2px solid black;
    width: 10rem;
    padding: 0.3rem;
    text-align: center;
    margin-bottom: 0.8rem;
  }
  .add-topic-container {
    display: flex;
    justify-content: flex-start;
    //  border: 2px solid red;
    align-items: flex-end;

    .text-field {
      min-width: 21rem !important;
      margin-right: 2rem;
      // border: 2px solid black;
      // height: 1rem !important;
    }
  }
}

.quiz-info-container {
  .element-box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
  .info-container {
    border: 2px solid black;
    padding: 0.5rem;
    width: 20rem;
    font-size: 1rem !important;
    margin-right: 2rem;
    text-align: center;
  }
}

.button {
  width: 6rem;
  height: 2rem;
}

.edit-popover {
  margin: 1rem;
  display: flex;
  align-items: center;
}

// .questions {
//   display: flex;
//   align-items: center;
// }
// .questions-container {
//   min-height: 65vh;
//   // border: 2px solid blue;
// }
.generate-link-btn {
  margin-left: 5rem;

  .generate-btn {
    width: 20%;
  }

  // display: flex;
  // justify-content: space-around;
}
.modal-navigate-button {
  margin-top: 2rem;
  .button {
    height: 1.6rem;
    padding: 0.5rem;
  }
}

// .handle-modal-container {
//   display: flex;
//   justify-content: flex-start;
//   margin-top: 1rem;

//   .back-btn {
//     margin-right: 45%;
//   }
//   .next-btn {
//     margin-left: 90%;
//   }
// }
.handle-modal {
  display: flex;
  justify-content: space-between;

  .close-button {
    color: #ffffff;
    background-color: #d32f2f;
    transition: filter 0.3s;

    &:hover {
      background-color: #d32f2f;
      opacity: 1;
      filter: brightness(0.9);
    }
  }
}
