.search-result-container {
  // min-width: 70%;
  // border: 2px solid red;
  //max-height: 20vh;
  .search-results {
    width: 100%;
    display: flex;
    // border: 2px solid green;
    // align-items: center;

    .accordion {
      width: 90%;

      .accordion-summary {
        display: flex;
        justify-content: space-between !important;
        text-align: center;
        //  border: 2px solid yellow;
        width: 100%;
        margin-right: 13%;
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      .tick-icon {
        color: green !important;
      }
      .add-button {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 0.6rem;
      }
    }

    .questions-container {
      //  margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .select-check-box {
        margin-right: 15%;
      }
      .options-container {
        margin-left: 2rem;
        display: flex;

        .options-box {
          margin-left: 1rem;
          display: flex;
          // margin-right: 2rem;
          .option {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

.box-link {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2rem;

  .test-link {
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
  }
}
