.test-submitted-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .test-summary {
    text-transform: capitalize;
    margin-top: 3rem;
  }
  .summary-card {
    padding: 1.5rem;
    // border: 2px solid red;
    width: 100%;
  }
}
