body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-loader {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.modal-loader {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-loader {
  margin: 1rem;
}

/* these should be moved to common.scss in subject expert later */
.MuiTableCell-root {
  padding: 0.5rem !important;
}

.view-button {
  height: 1.5rem !important;
}
.delete-icon {
  height: 1.5rem !important;
}

/* for sweetalert */
.swal-alert {
  width: 25rem !important;
  height: 20rem !important;
  font-size: 0.8rem !important;
  /* padding: 0.1rem !important; */
}
